ErrorDocument 404 /404.html
ErrorDocument 403 /403.html
ErrorDocument 500 /500.html

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R]

<IfModule mod_headers.c>
	# do not emit the referrer information
	Header set Referrer-Policy: no-referrer

	# blocks content sniffing that could transform non-executable MIME types into executable MIME types
	Header set X-Content-Type-Options nosniff

	# help protecting against clickjacking
	Header always set X-Frame-Options DENY

	# prevent against XSS
	Header set X-XSS-Protection "1; mode=block"

	# informs browsers that the site should only be accessed using HTTPS - max age is 1 year
	Header set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

	# we always allow our own domains as well as twitch for iframes
	Header set Content-Security-Policy "default-src 'self' rheinklang.events *.rheinklang-festival.ch *.staging.rheinklang-festival.ch *.rheinklang.events; style-src-elem 'self'; style-src 'unsafe-inline'; frame-src player.twitch.tv; script-src facebook.net *.facebook.net; img-src dummyimage.com 'self' data:; script-src 'self' analytics.rheinklang-festival.ch facebook.net *.facebook.net"

	# disable all client-side features as long as we don't use it
	Header set Feature-Policy: "none"

	# cross-site scripting whitelisting
	SetEnvIf Origin "^http(s)?://(.+\.)?(rheinklang-festival\.ch|rheinklang\.events)$" origin_is=$0
    Header always set Access-Control-Allow-Origin %{origin_is}e env=origin_is

	<FilesMatch ".(js|css|xml|png|gz|html|woff2|min.js)$">
		Header append Vary: Accept-Encoding
	</FilesMatch>
</IfModule>
