@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* sea-green-300 */
	background-color: rgb(157 175 177);
}

/* hide markers of number box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.ribbon {
	position: fixed;
	inset: 0 auto auto 0;
	transform-origin: 100% 0;
	transform: translate(-29.3%) rotate(-45deg);
	box-shadow: 0 0 0 999px var(--tw-shadow-color);
	clip-path: inset(0 -100%);
}
