@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'FV Almelo';
	src: url('/assets/fonts/fv-almelo/FV-Almelo.woff') format('woff'),
		url('/assets/fonts/fv-almelo/FV-Almelo.svg#FV-Almelo') format('svg'),
		url('/assets/fonts/fv-almelo/FV-Almelo.eot'),
		url('/assets/fonts/fv-almelo/FV-Almelo.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: rgb(157 175 177);
}

/* hide markers of number box */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
